.header{
	background-color: skyblue;
	height: 60px;
	width: 100%;
	margin-bottom: 30px;
}
.main_section{
	background-color: grey;
	height: 700px;
	width: 100%;
	margin-bottom: 30px;

}
.footer{
	background-color: lightseagreen;
	height: 200px;
	width: 100%;
	margin-bottom: 30px;

}
#item{
border-radius: 5px;
border: 0px black;
margin: 30px;
background-color: darkslateblue;
min-height: 200px;
width: 200px;

}
.column{
	margin: 20px;
	padding: 20px;
	float: left;
}
