.header{
	background-color: red;
	height: 60px;
	width: 100%;
	margin-bottom: 30px;
}
.main_section{
	background-color: blue;
	height: 700px;
	width: 100%;
	margin-bottom: 30px;

}
.footer{
	background-color: grey;
	height: 200px;
	width: 100%;
	margin-bottom: 30px;

}