.header{
	background-color:blue;
	height: 250px;
	width: 100%;
	margin-bottom: 50px;
}
.main_section{
	background-color: darkblue;
	height: 700px;
	width: 100%;
	margin-bottom: 50px;
}
.footer{
	background-color: burlywood;
	height: 300px;
	width: 100%;
	margin-bottom: 50px;
}
