.header{
	background-color:blue;
	height: 250px;
	width: 100%;
	margin-bottom: 50px;
}
.main_section{
	background-color: darkblue;
	height: 800px;
	width: 100%;
	margin-bottom: 50px;
}
.footer{
	background-color: burlywood;
	height: 300px;
	width: 100%;
	margin-bottom: 50px;
}


#item{
	border-radius: 5px;
	border: 0px;
	margin: 25px;
	background-color:goldenrod;
	min-height: 210px;
	width: 210px;
}
.column{
	margin: 30px;
	padding: 30px;
	float: left ;
}
#item img{
	width: 200px;
	height: 220px;

}